{% extends "layout.twig" %}

{% block body %}
<h1 class="text-center">Add your Category !</h1>
{% if errorForm %}
<p class="text-danger">Please fix the following errors</p>
<ul class="errors">
    {% for error in errorForm %}

    {# Error Title #}
    {% if error.title %}
    <li>{{ error.title.message }}</li>
    {% endif %}
    {# Error Category #}
    {% if error.description %}
    <li>{{ error.description.message }}</li>
    {% endif %}

    {% endfor %}
</ul>
{% endif %}
<form action="/add-category" method="POST">
    <div class="form-group">
        <label for="title">Title :</label>
        <input type="text" name="title" class="form-control">
    </div>

    <div class="form-group">
        <label for="description">Description :</label>
        <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
    </div>
    <button class="btn btn-success mt-3" type="submit">Add Category</button>
</form>
{% endblock %}

{% block javascript %}
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#description'))
        .catch(error => {
            console.error(error);
        });
</script>
{% endblock %}